<form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">

  <div class="center">
    <h1><u>Customer Details</u></h1><br>
    FirstName : <input type="text" name="firstName" formControlName="firstName" placeholder="First Name" class="round1"/><br><br>

    LastName : <input type="text" name="lastName" formControlName="lastName" placeholder="Last Name" class="round1"/><br><br>

    Email : <input type="text" name="email" formControlName="email" placeholder="abc@gmail.com" class="round1" /><br><br>

    New Password : <input type="text" name="password" formControlName="password" placeholder="New Password" class="round1"/><br><br>

    Confirm Password : <input type="text" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" class="round1"/><br><br>


    <!-- <div formGroupName="address"> -->
    <h1><u>Address Details</u></h1><br>

    Street : <input type="text" name="street" formControlName="street" placeholder="Street" class="round1"/><br><br>

    City   : <input type="text" name="city" formControlName="city" placeholder="City" class="round1"/><br><br>

    State : <input type="text" name="state" formControlName="state" placeholder="State" class="round1"/><br><br>

    PinCode : <input type="text" name="pinCode" formControlName="pinCode" placeholder="560032" class="round1"/><br><br>

    <p> {{ registerMessage }} </p>
  <!-- </div> -->
  <button class="button" type="submit">Submit</button> <button class="button" (click)="onReset()">Reset</button> <br>
  

  <p>Click Here for <a href="login">Login</a></p>
  <p>Click Here for <a class="hyperlink" href="userlist">User Details</a> <span>OR</span> <button class="button" (click)="getUserList()">Users Details</button> </p>
  
  
  </div>
 
</form>


