<p>
  dash-board works!
</p>
<body>
  
<div class="topnav">
    <a href="#home">Home</a>
    <a href="#contact">Contact</a>
    <div class="search-container">
      <input type="text" placeholder="Search.."  name="search">
      <button (click)="onSearch($event)">Search</button>
    </div>
    <!-- <a href="#services">Services</a> -->
    <!-- <div class="search-container">
    <form>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div> -->
    <!-- <div class="dropdown">
        <button class="dropbtn">Dropdown 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>  -->
    <!-- <a style="float:right" href="login">LogOut</a> -->
    
  </div>

</body>